Salut,

Dans le premier volet de notre travail nous évaluons les méthodes de découverte de discrimination.

Les méthodes sont évaluées sur les métriques suivantes :
-	TSN (Total Sample Number) : Le nombre total d'échantillons générés ou testés lors d'une expérience de test d'équité algorithmique.
-	DSN (Discriminatory Sample Number) : Le nombre d'échantillons discriminatoires détectés parmi les échantillons testés.
-	DSS (Discriminatory Sample Search time) : Le temps moyen nécessaire pour générer un échantillon discriminatoire, calculé généralement en divisant le temps total par le nombre d'échantillons discriminatoires trouvés.
-	SUR (Success Rate) : Le taux de réussite dans la génération d'échantillons discriminatoires, calculé en divisant le nombre d'échantillons discriminatoires (DSN) par le nombre total d'échantillons générés (TSN).

Les méthodes évaluées sont :
-	Aequitas : Automated directed fairness testing (2018) 
-	EXPGA : Explanation-Guided Fairness Testing through Genetic Algorithm (2022) 
-	SG : Black box fairness testing of machine learning models (2019)
-	ADF : White-box fairness testing through adversarial sampling (2020)





Dans les dernières semaines j’ai travaillé à faire en sorte que l’on génère de la donnée synthétique de qualité pour nos test

In [37]:
from experiments.baseline_exp.reproduce_paper.reference_exp import ref_data
reference_data = ref_data()
reference_data

   algorithm dataset feature model     TSN     DSN    DSS     SUR
0      ExpGA  Census  gender   MLP  491323  141049   0.03  0.2870
1      ExpGA  Census     age   MLP   43465   29467   0.12  0.6779
2      ExpGA  Census    race   MLP   90303   30171   0.12  0.3341
3      ExpGA  Credit  gender   MLP  281130   65009   0.06  0.2312
4      ExpGA  Credit     age   MLP   46357   34048   0.11  0.7344
5      ExpGA    Bank     age   MLP   46802   27099   0.13  0.5790
6   Aequitas  Census  gender   MLP   85629    1797   2.00  0.0210
7   Aequitas  Census     age   MLP   12243    1107   3.25  0.0904
8   Aequitas  Census    race   MLP   22053     551   6.53  0.0250
9   Aequitas  Credit  gender   MLP   38096    1596   2.26  0.0419
10  Aequitas  Credit     age   MLP   11756    5146   0.70  0.4377
11  Aequitas    Bank     age   MLP   14808    2915   1.23  0.1968
12        SG  Census  gender   MLP    7070     871   4.13  0.1231
13        SG  Census     age   MLP    4190    1530   2.35  0.3651
14        SG  Census    race   MLP    4355     588   6.12  0.1350
15        SG  Credit  gender   MLP    7569    1321   2.73  0.1745
16        SG  Credit     age   MLP    7699    4659   0.77  0.6050
17        SG    Bank     age   MLP    3776    2592   1.39  0.6863
18       ADF  Census  gender   MLP  116119   24974   0.14  0.2151
19       ADF  Census     age   MLP   40135   21795   0.17  0.5430
20       ADF  Census    race   MLP   47296    8097   0.44  0.1712
21       ADF  Credit  gender   MLP   62242    8052   0.45  0.1293
22       ADF  Credit     age   MLP   21649    5957   0.60  0.2751
23       ADF    Bank     age   MLP   27325   11852   0.30  0.4337
24     ExpGA  Census  gender    RF  274521  156259   0.02  0.5692
25     ExpGA  Census     age    RF   51192   46035   0.08  0.8993
26     ExpGA  Census    race    RF   78349   47810   0.08  0.6102
27     ExpGA  Credit  gender    RF   20295    4247   0.85  0.2093
28     ExpGA  Credit     age    RF   10183    3673   0.98  0.3607
29     ExpGA    Bank     age    RF   13284    8885   0.41  0.6699
30  Aequitas  Census  gender    RF   56776    1210   2.98  0.0213
31  Aequitas  Census     age    RF   21330   13472   0.27  0.6316
32  Aequitas  Census    race    RF   29309     362   9.94  0.0124
33  Aequitas  Credit  gender    RF    3245     148  24.32  0.0456
34  Aequitas  Credit     age    RF     869     153  23.53  0.1760
35  Aequitas    Bank     age    RF    3952     941   3.83  0.2381
36        SG  Census  gender    RF   10906     595   6.05  0.0546
37        SG  Census     age    RF   17490   12441   0.29  0.7150
38        SG  Census    race    RF   12572     894   4.03  0.0711
39        SG  Credit  gender    RF    7269    2192   1.64  0.3015
40        SG  Credit     age    RF    6349    2654   1.36  0.4180
41        SG    Bank     age    RF    3871    2530   1.42  0.6536
42     ExpGA  Census  gender   SVM  804328  145226   0.02  0.1806
43     ExpGA  Census     age   SVM  124816   78064   0.05  0.6254
44     ExpGA  Census    race   SVM  226434   78627   0.05  0.3472
45     ExpGA  Credit  gender   SVM  118428   47570   0.08  0.4017
46     ExpGA  Credit     age   SVM   21058    9377   0.38  0.4453
47     ExpGA    Bank     age   SVM   12746   29574   0.12  0.6919
48  Aequitas  Census  gender   SVM  109706     386   9.33  0.0035
49  Aequitas  Census     age   SVM   81275    2489   1.45  0.0306
50  Aequitas  Census    race   SVM   62954     277  13.00  0.0044
51  Aequitas  Credit  gender   SVM  152432    3683   0.98  0.0242
52  Aequitas  Credit     age   SVM   53344    8419   0.43  0.1578
53  Aequitas    Bank     age   SVM   31276      41  87.80  0.0013
54        SG  Census  gender   SVM    1119       0    NaN  0.0000
55        SG  Census     age   SVM    2998     624   5.77  0.2081
56        SG  Census    race   SVM    1141       0    NaN  0.0000
57        SG  Credit  gender   SVM    9204    1912   1.88  0.2077
58        SG  Credit     age   SVM    7952    1918   1.88  0.2412
59        SG    Bank     age   SVM     744     248  14.52  0.3333

In [38]:
from path import HERE
from pathlib import Path
import sqlite3
import pandas as pd

DB_PATH = Path(HERE.joinpath("experiments/baseline_exp/exp.db"))

conn = sqlite3.connect(DB_PATH)
sql = f"""
SELECT * 
FROM main.paper_reproduction_results2
"""
experiments = pd.read_sql(sql, conn)

experiments

,id,timestamp,model,dataset,feature,algorithm,TSN,DSN,DSS,SUR,total_TSN,total_DSN,total_DSS,total_SUR,execution_time,total_time,time_limit_reached,max_tsn_reached,dsn_by_attr_value
0,1,2025-04-05 00:05:16,MLP,adult,Attr8_T,ExpGA,16027,2728,0.015153,0.170213,20075,3454,0.015153,0.172055,58.985130,52.338058,0,1,"{""TSN"": 16027, ""DSN"": 2728, ""SUR"": 0.170212765..."
1,2,2025-04-05 00:05:16,MLP,adult,Attr9_T,ExpGA,4048,726,0.015153,0.179348,20075,3454,0.015153,0.172055,58.985130,52.338058,0,1,"{""TSN"": 4048, ""DSN"": 726, ""SUR"": 0.17934782608..."
2,3,2025-04-05 00:19:11,MLP,adult,Attr8_T,SG,16000,1780,0.410115,0.111250,20000,2027,0.410115,0.101350,835.494884,831.302294,0,1,"{""TSN"": 16000, ""DSN"": 1780, ""SUR"": 0.11125, ""D..."
3,4,2025-04-05 00:19:11,MLP,adult,Attr9_T,SG,4000,247,0.410115,0.061750,20000,2027,0.410115,0.101350,835.494884,831.302294,0,1,"{""TSN"": 4000, ""DSN"": 247, ""SUR"": 0.06175, ""DSS..."
4,5,2025-04-05 00:19:32,MLP,adult,Attr8_T,Aequitas,20000,476,0.029988,0.023800,25000,660,0.029988,0.026400,21.108085,19.792330,0,1,"{""TSN"": 20000, ""DSN"": 476, ""SUR"": 0.0238, ""DSS..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,2025-04-05 02:40:50,RF,bank,Attr3_T,ExpGA,10108,2627,0.009595,0.259893,20221,4230,0.009595,0.209188,51.328020,40.584804,0,1,"{""TSN"": 10108, ""DSN"": 2627, ""SUR"": 0.259893153..."
80,81,2025-04-05 03:09:40,RF,bank,Attr2_T,SG,10001,3136,0.353630,0.313569,20002,4845,0.353630,0.242226,1729.636280,1713.336454,0,1,"{""TSN"": 10001, ""DSN"": 3136, ""SUR"": 0.313568643..."
81,82,2025-04-05 03:09:40,RF,bank,Attr3_T,SG,10001,1709,0.353630,0.170883,20002,4845,0.353630,0.242226,1729.636280,1713.336454,0,1,"{""TSN"": 10001, ""DSN"": 1709, ""SUR"": 0.170882911..."
82,83,2025-04-05 03:10:44,RF,bank,Attr2_T,Aequitas,10000,417,0.077392,0.041700,20000,796,0.077392,0.039800,63.999895,61.604154,0,1,"{""TSN"": 10000, ""DSN"": 417, ""SUR"": 0.0417, ""DSS..."
83,84,2025-04-05 03:10:44,RF,bank,Attr3_T,Aequitas,10000,379,0.077392,0.037900,20000,796,0.077392,0.039800,63.999895,61.604154,0,1,"{""TSN"": 10000, ""DSN"": 379, ""SUR"": 0.0379, ""DSS..."

In [39]:
# Replace values where condition is met
experiments.loc[experiments['dataset'] == 'adult', 'dataset'] = 'Census'
experiments.loc[experiments['dataset'] == 'credit', 'dataset'] = 'Credit'
experiments.loc[experiments['dataset'] == 'bank', 'dataset'] = 'Bank'

experiments.loc[experiments['algorithm'] == 'EXPGA', 'algorithm'] = 'ExpGA'
experiments.loc[experiments['algorithm'] == 'EXPGA', 'algorithm'] = 'ExpGA'

experiments.loc[(experiments['feature'] == 'Attr8_T') & (experiments['dataset'] == 'Census'), 'feature'] = 'gender'
experiments.loc[(experiments['feature'] == 'Attr9_T') & (experiments['dataset'] == 'Census'), 'feature'] = 'race'

experiments.loc[(experiments['feature'] == 'Attr8_T') & (experiments['dataset'] == 'Credit'), 'feature'] = 'gender'
experiments.loc[(experiments['feature'] == 'Attr12_T') & (experiments['dataset'] == 'Credit'), 'feature'] = 'age'

experiments.loc[(experiments['feature'] == 'Attr2_T') & (experiments['dataset'] == 'Bank'), 'feature'] = 'marital'
experiments.loc[(experiments['feature'] == 'Attr3_T') & (experiments['dataset'] == 'Bank'), 'feature'] = 'education'

In [40]:
experiments

,id,timestamp,model,dataset,feature,algorithm,TSN,DSN,DSS,SUR,total_TSN,total_DSN,total_DSS,total_SUR,execution_time,total_time,time_limit_reached,max_tsn_reached,dsn_by_attr_value
0,1,2025-04-05 00:05:16,MLP,Census,gender,ExpGA,16027,2728,0.015153,0.170213,20075,3454,0.015153,0.172055,58.985130,52.338058,0,1,"{""TSN"": 16027, ""DSN"": 2728, ""SUR"": 0.170212765..."
1,2,2025-04-05 00:05:16,MLP,Census,race,ExpGA,4048,726,0.015153,0.179348,20075,3454,0.015153,0.172055,58.985130,52.338058,0,1,"{""TSN"": 4048, ""DSN"": 726, ""SUR"": 0.17934782608..."
2,3,2025-04-05 00:19:11,MLP,Census,gender,SG,16000,1780,0.410115,0.111250,20000,2027,0.410115,0.101350,835.494884,831.302294,0,1,"{""TSN"": 16000, ""DSN"": 1780, ""SUR"": 0.11125, ""D..."
3,4,2025-04-05 00:19:11,MLP,Census,race,SG,4000,247,0.410115,0.061750,20000,2027,0.410115,0.101350,835.494884,831.302294,0,1,"{""TSN"": 4000, ""DSN"": 247, ""SUR"": 0.06175, ""DSS..."
4,5,2025-04-05 00:19:32,MLP,Census,gender,Aequitas,20000,476,0.029988,0.023800,25000,660,0.029988,0.026400,21.108085,19.792330,0,1,"{""TSN"": 20000, ""DSN"": 476, ""SUR"": 0.0238, ""DSS..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,2025-04-05 02:40:50,RF,Bank,education,ExpGA,10108,2627,0.009595,0.259893,20221,4230,0.009595,0.209188,51.328020,40.584804,0,1,"{""TSN"": 10108, ""DSN"": 2627, ""SUR"": 0.259893153..."
80,81,2025-04-05 03:09:40,RF,Bank,marital,SG,10001,3136,0.353630,0.313569,20002,4845,0.353630,0.242226,1729.636280,1713.336454,0,1,"{""TSN"": 10001, ""DSN"": 3136, ""SUR"": 0.313568643..."
81,82,2025-04-05 03:09:40,RF,Bank,education,SG,10001,1709,0.353630,0.170883,20002,4845,0.353630,0.242226,1729.636280,1713.336454,0,1,"{""TSN"": 10001, ""DSN"": 1709, ""SUR"": 0.170882911..."
82,83,2025-04-05 03:10:44,RF,Bank,marital,Aequitas,10000,417,0.077392,0.041700,20000,796,0.077392,0.039800,63.999895,61.604154,0,1,"{""TSN"": 10000, ""DSN"": 417, ""SUR"": 0.0417, ""DSS..."
83,84,2025-04-05 03:10:44,RF,Bank,education,Aequitas,10000,379,0.077392,0.037900,20000,796,0.077392,0.039800,63.999895,61.604154,0,1,"{""TSN"": 10000, ""DSN"": 379, ""SUR"": 0.0379, ""DSS..."

In [71]:
results = []
for i, el in reference_data.iterrows():
    key = ((experiments['feature'] == el['feature']) &
           (experiments['dataset'] == el['dataset']) &
           (experiments['model'] == el['model']) &
           (experiments['algorithm'] == el['algorithm']))
    res = pd.DataFrame(
        {'feature': [el['feature']], 'dataset': [el['dataset']], 'model': [el['model']],
         'algorithm': [el['algorithm']]})
    if key.any():
        experiments_df = experiments[key][['TSN', 'DSN', 'DSS', 'SUR']].mean()
        res['ref_TSN'] = el['TSN']
        res['TSN'] = experiments_df['TSN']
        res['ref_DSN'] = el['DSN']
        res['DSN'] = experiments_df['DSN']
        res['ref_DSS'] = el['DSS']
        res['DSS'] = experiments_df['DSS']
        res['ref_SUR'] = el['SUR']
        res['SUR'] = experiments_df['SUR']
    else:
        res['ref_TSN'] = None
        res['TSN'] = None
        res['ref_DSN'] = None
        res['DSN'] = None
        res['ref_DSS'] = None
        res['DSS'] = None
        res['ref_SUR'] = None
        res['SUR'] = None
    results.append(res)
    
results = pd.concat(results)
results.dropna(inplace=True)

results['diff_res'] = (results['ref_SUR'] - results['SUR']).abs()

float_columns = results.select_dtypes(include=['float']).columns
results[float_columns] = results[float_columns].round(3)

results.to_csv(HERE.joinpath('experiments/baseline_exp/reproduce_paper/test_compare.csv'), index=False)
results

C:\Users\gen06917\AppData\Local\Temp\ipykernel_28668\3915619729.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat(results)

,feature,dataset,model,algorithm,ref_TSN,TSN,ref_DSN,DSN,ref_DSS,DSS,ref_SUR,SUR,diff_res
0,gender,Census,MLP,ExpGA,491323,16191.000,141049,1850.000,0.03,0.021,0.287,0.115,0.172
0,race,Census,MLP,ExpGA,90303,4080.000,30171,1163.333,0.12,0.021,0.334,0.285,0.049
0,gender,Credit,MLP,ExpGA,281130,10283.000,65009,1185.000,0.06,0.006,0.231,0.115,0.116
0,age,Credit,MLP,ExpGA,46357,10263.000,34048,2437.000,0.11,0.006,0.734,0.237,0.497
0,gender,Census,MLP,Aequitas,85629,20000.000,1797,476.000,2.00,0.034,0.021,0.024,0.003
0,race,Census,MLP,Aequitas,22053,5000.000,551,184.000,6.53,0.034,0.025,0.037,0.012
0,gender,Credit,MLP,Aequitas,38096,15000.000,1596,73.000,2.26,0.110,0.042,0.005,0.037
0,age,Credit,MLP,Aequitas,11756,15000.000,5146,113.000,0.70,0.110,0.438,0.008,0.430
0,gender,Census,MLP,SG,7070,16000.000,871,1780.000,4.13,0.411,0.123,0.111,0.012
0,race,Census,MLP,SG,4355,4000.000,588,247.000,6.12,0.411,0.135,0.062,0.073
0,gender,Credit,MLP,SG,7569,7434.000,1321,682.000,2.73,0.179,0.174,0.092,0.083
0,age,Credit,MLP,SG,7699,7434.000,4659,1287.000,0.77,0.179,0.605,0.173,0.432
0,gender,Census,MLP,ADF,116119,7200.000,24974,354.000,0.14,0.059,0.215,0.049,0.166
0,race,Census,MLP,ADF,47296,1803.000,8097,146.000,0.44,0.059,0.171,0.081,0.090
0,gender,Credit,MLP,ADF,62242,4500.000,8052,180.000,0.45,0.018,0.129,0.040,0.089
0,age,Credit,MLP,ADF,21649,4500.000,5957,507.000,0.60,0.018,0.275,0.113,0.162
0,gender,Census,RF,ExpGA,274521,16091.000,156259,3188.333,0.02,0.009,0.569,0.198,0.371
0,race,Census,RF,ExpGA,78349,4055.667,47810,728.000,0.08,0.009,0.610,0.179,0.431
0,gender,Credit,RF,ExpGA,20295,10187.000,4247,1806.500,0.85,0.005,0.209,0.177,0.032
0,age,Credit,RF,ExpGA,10183,10195.000,3673,2003.000,0.98,0.005,0.361,0.196,0.164
0,gender,Census,RF,Aequitas,56776,20000.000,1210,207.000,2.98,0.125,0.021,0.010,0.011
0,race,Census,RF,Aequitas,29309,5000.000,362,157.000,9.94,0.125,0.012,0.031,0.019
0,gender,Credit,RF,Aequitas,3245,15000.000,148,1.000,24.32,8.885,0.046,0.000,0.046
0,age,Credit,RF,Aequitas,869,15000.000,153,3.000,23.53,8.885,0.176,0.000,0.176
0,gender,Census,RF,SG,10906,16005.000,595,1395.000,6.05,0.632,0.055,0.087,0.033
0,race,Census,RF,SG,12572,3996.000,894,536.000,4.03,0.632,0.071,0.134,0.063
0,gender,Credit,RF,SG,7269,3144.000,2192,86.000,1.64,0.428,0.302,0.027,0.274
0,age,Credit,RF,SG,6349,3144.000,2654,127.000,1.36,0.428,0.418,0.040,0.378

In [73]:
cond1 = ((results['feature'].isin(['gender', 'race', 'age'])) & (results['dataset'] == 'Census'))
cond2 = ((results['feature'].isin(['gender', 'age'])) & (results['dataset'] == 'Credit'))
cond3 = ((results['feature'].isin(['age'])) & (results['dataset'] == 'Bank'))
results1 = results[(results['dataset'] == 'Bank')]
# results1
mean_res = results.groupby('algorithm')[['ref_DSS', 'DSS', 'ref_SUR', 'SUR']].mean()
mean_res

           ref_DSS      DSS   ref_SUR       SUR
algorithm
ADF        0.40750  0.03850  0.197500  0.070750
Aequitas   9.03250  2.28850  0.097625  0.014375
ExpGA      0.28125  0.01025  0.416875  0.187750
SG         3.35375  0.41250  0.235375  0.090750

In [74]:
mean_res['Rank SUR (Ref)'] = mean_res['ref_SUR'].rank(ascending=True).astype(int)
mean_res['Rank SUR (Exp)'] = mean_res['SUR'].rank(ascending=True).astype(int)
mean_res['Rank DSS (Ref)'] = mean_res['ref_DSS'].rank(ascending=True).astype(int)
mean_res['Rank DSS (Exp)'] = mean_res['DSS'].rank(ascending=True).astype(int)
mean_res

,ref_DSS,DSS,ref_SUR,SUR,Rank SUR (Ref),Rank SUR (Exp),Rank DSS (Ref),Rank DSS (Exp)
algorithm,,,,,,,,
ADF,0.40750,0.03850,0.197500,0.070750,2,2,2,2
Aequitas,9.03250,2.28850,0.097625,0.014375,1,1,4,4
ExpGA,0.28125,0.01025,0.416875,0.187750,4,4,1,1
SG,3.35375,0.41250,0.235375,0.090750,3,3,3,3

In [47]:
experiments[experiments['model'] == 'MLP'][['model', 'dataset', 'feature', 'algorithm', 'TSN', 'DSN', 'DSS', 'SUR']]

   model dataset    feature algorithm    TSN   DSN       DSS       SUR
0    MLP  Census     gender     ExpGA  16027  2728  0.015153  0.170213
1    MLP  Census       race     ExpGA   4048   726  0.015153  0.179348
2    MLP  Census     gender        SG  16000  1780  0.410115  0.111250
3    MLP  Census       race        SG   4000   247  0.410115  0.061750
4    MLP  Census     gender  Aequitas  20000   476  0.029988  0.023800
5    MLP  Census       race  Aequitas   5000   184  0.029988  0.036800
6    MLP  Census     gender       ADF   7200   354  0.053738  0.049167
7    MLP  Census       race       ADF   1803   146  0.053738  0.080976
8    MLP  Census     gender     ExpGA  16273  1411  0.025401  0.086708
9    MLP  Census       race     ExpGA   4096  1382  0.025401  0.337402
10   MLP  Census     gender        SG  16000  1780  0.417279  0.111250
11   MLP  Census       race        SG   4000   247  0.417279  0.061750
12   MLP  Census     gender  Aequitas  20000   476  0.030843  0.023800
13   MLP  Census       race  Aequitas   5000   184  0.030843  0.036800
14   MLP  Census     gender       ADF   7200   354  0.052666  0.049167
15   MLP  Census       race       ADF   1803   146  0.052666  0.080976
16   MLP  Census     gender     ExpGA  16273  1411  0.022882  0.086708
17   MLP  Census       race     ExpGA   4096  1382  0.022882  0.337402
18   MLP  Census     gender        SG  16000  1780  0.405608  0.111250
19   MLP  Census       race        SG   4000   247  0.405608  0.061750
20   MLP  Census     gender  Aequitas  20000   476  0.041576  0.023800
21   MLP  Census       race  Aequitas   5000   184  0.041576  0.036800
22   MLP  Census     gender       ADF   7200   354  0.070082  0.049167
23   MLP  Census       race       ADF   1803   146  0.070082  0.080976
24   MLP  Credit     gender     ExpGA  10283  1185  0.006120  0.115239
25   MLP  Credit        age     ExpGA  10263  2437  0.006120  0.237455
26   MLP  Credit     gender        SG   7434   682  0.182959  0.091741
27   MLP  Credit        age        SG   7434  1287  0.182959  0.173123
28   MLP  Credit     gender  Aequitas  15000    73  0.124035  0.004867
29   MLP  Credit        age  Aequitas  15000   113  0.124035  0.007533
30   MLP  Credit     gender       ADF   4500   180  0.019322  0.040000
31   MLP  Credit        age       ADF   4500   507  0.019322  0.112667
32   MLP  Credit     gender     ExpGA  10283  1185  0.005762  0.115239
33   MLP  Credit        age     ExpGA  10263  2437  0.005762  0.237455
34   MLP  Credit     gender        SG   7434   682  0.174445  0.091741
35   MLP  Credit        age        SG   7434  1287  0.174445  0.173123
36   MLP  Credit     gender  Aequitas  15000    73  0.096733  0.004867
37   MLP  Credit        age  Aequitas  15000   113  0.096733  0.007533
38   MLP  Credit     gender       ADF   4500   180  0.017401  0.040000
39   MLP  Credit        age       ADF   4500   507  0.017401  0.112667
40   MLP    Bank    marital     ExpGA  10082   736  0.055892  0.073001
41   MLP    Bank  education     ExpGA  10067  1931  0.055892  0.191815
42   MLP    Bank    marital        SG  10002  1243  0.244976  0.124275
43   MLP    Bank  education        SG  10001  3360  0.244976  0.335966
44   MLP    Bank    marital  Aequitas  10000   234  0.030014  0.023400
45   MLP    Bank  education  Aequitas  10000   439  0.030014  0.043900
46   MLP    Bank    marital       ADF   4500    84  0.141292  0.018667
47   MLP    Bank  education       ADF   4500   162  0.141292  0.036000