Salut,

Dans le premier volet de notre travail nous évaluons les méthodes de découverte de discrimination.

Les méthodes sont évaluées sur les métriques suivantes :
-	TSN (Total Sample Number) : Le nombre total d'échantillons générés ou testés lors d'une expérience de test d'équité algorithmique.
-	DSN (Discriminatory Sample Number) : Le nombre d'échantillons discriminatoires détectés parmi les échantillons testés.
-	DSS (Discriminatory Sample Search time) : Le temps moyen nécessaire pour générer un échantillon discriminatoire, calculé généralement en divisant le temps total par le nombre d'échantillons discriminatoires trouvés.
-	SUR (Success Rate) : Le taux de réussite dans la génération d'échantillons discriminatoires, calculé en divisant le nombre d'échantillons discriminatoires (DSN) par le nombre total d'échantillons générés (TSN).

Les méthodes évaluées sont :
-	Aequitas : Automated directed fairness testing (2018) 
-	EXPGA : Explanation-Guided Fairness Testing through Genetic Algorithm (2022) 
-	SG : Black box fairness testing of machine learning models (2019)
-	ADF : White-box fairness testing through adversarial sampling (2020)





Dans les dernières semaines j’ai travaillé à faire en sorte que l’on génère de la donnée synthétique de qualité pour nos test

In [2]:
import pandas as pd
import numpy as np

# Create lists to store the data
reference_data = []

# Table 3: MLP model
## ExpGA
reference_data.append(["ExpGA", "Census", "gender", "MLP", 491323, 141049, 0.03, 28.70])
reference_data.append(["ExpGA", "Census", "age", "MLP", 43465, 29467, 0.12, 67.79])
reference_data.append(["ExpGA", "Census", "race", "MLP", 90303, 30171, 0.12, 33.41])
reference_data.append(["ExpGA", "Credit", "gender", "MLP", 281130, 65009, 0.06, 23.12])
reference_data.append(["ExpGA", "Credit", "age", "MLP", 46357, 34048, 0.11, 73.44])
reference_data.append(["ExpGA", "Bank", "age", "MLP", 46802, 27099, 0.13, 57.90])

## AEQUITAS
reference_data.append(["Aequitas", "Census", "gender", "MLP", 85629, 1797, 2.00, 2.10])
reference_data.append(["Aequitas", "Census", "age", "MLP", 12243, 1107, 3.25, 9.04])
reference_data.append(["Aequitas", "Census", "race", "MLP", 22053, 551, 6.53, 2.50])
reference_data.append(["Aequitas", "Credit", "gender", "MLP", 38096, 1596, 2.26, 4.19])
reference_data.append(["Aequitas", "Credit", "age", "MLP", 11756, 5146, 0.70, 43.77])
reference_data.append(["Aequitas", "Bank", "age", "MLP", 14808, 2915, 1.23, 19.68])

## SG
reference_data.append(["SG", "Census", "gender", "MLP", 7070, 871, 4.13, 12.31])
reference_data.append(["SG", "Census", "age", "MLP", 4190, 1530, 2.35, 36.51])
reference_data.append(["SG", "Census", "race", "MLP", 4355, 588, 6.12, 13.50])
reference_data.append(["SG", "Credit", "gender", "MLP", 7569, 1321, 2.73, 17.45])
reference_data.append(["SG", "Credit", "age", "MLP", 7699, 4659, 0.77, 60.5])
reference_data.append(["SG", "Bank", "age", "MLP", 3776, 2592, 1.39, 68.63])

## ADF
reference_data.append(["ADF", "Census", "gender", "MLP", 116119, 24974, 0.14, 21.51])
reference_data.append(["ADF", "Census", "age", "MLP", 40135, 21795, 0.17, 54.30])
reference_data.append(["ADF", "Census", "race", "MLP", 47296, 8097, 0.44, 17.12])
reference_data.append(["ADF", "Credit", "gender", "MLP", 62242, 8052, 0.45, 12.93])
reference_data.append(["ADF", "Credit", "age", "MLP", 21649, 5957, 0.60, 27.51])
reference_data.append(["ADF", "Bank", "age", "MLP", 27325, 11852, 0.30, 43.37])

# Table 4: RF model
## ExpGA
reference_data.append(["ExpGA", "Census", "gender", "RF", 274521, 156259, 0.02, 56.92])
reference_data.append(["ExpGA", "Census", "age", "RF", 51192, 46035, 0.08, 89.93])
reference_data.append(["ExpGA", "Census", "race", "RF", 78349, 47810, 0.08, 61.02])
reference_data.append(["ExpGA", "Credit", "gender", "RF", 20295, 4247, 0.85, 20.93])
reference_data.append(["ExpGA", "Credit", "age", "RF", 10183, 3673, 0.98, 36.07])
reference_data.append(["ExpGA", "Bank", "age", "RF", 13284, 8885, 0.41, 66.99])

## AEQUITAS
reference_data.append(["Aequitas", "Census", "gender", "RF", 56776, 1210, 2.98, 2.13])
reference_data.append(["Aequitas", "Census", "age", "RF", 21330, 13472, 0.27, 63.16])
reference_data.append(["Aequitas", "Census", "race", "RF", 29309, 362, 9.94, 1.24])
reference_data.append(["Aequitas", "Credit", "gender", "RF", 3245, 148, 24.32, 4.56])
reference_data.append(["Aequitas", "Credit", "age", "RF", 869, 153, 23.53, 17.60])
reference_data.append(["Aequitas", "Bank", "age", "RF", 3952, 941, 3.83, 23.81])

## SG
reference_data.append(["SG", "Census", "gender", "RF", 10906, 595, 6.05, 5.46])
reference_data.append(["SG", "Census", "age", "RF", 17490, 12441, 0.29, 71.50])
reference_data.append(["SG", "Census", "race", "RF", 12572, 894, 4.03, 7.11])
reference_data.append(["SG", "Credit", "gender", "RF", 7269, 2192, 1.64, 30.15])
reference_data.append(["SG", "Credit", "age", "RF", 6349, 2654, 1.36, 41.80])
reference_data.append(["SG", "Bank", "age", "RF", 3871, 2530, 1.42, 65.36])

# Table 5: SVM model
## ExpGA
reference_data.append(["ExpGA", "Census", "gender", "SVM", 804328, 145226, 0.02, 18.06])
reference_data.append(["ExpGA", "Census", "age", "SVM", 124816, 78064, 0.05, 62.54])
reference_data.append(["ExpGA", "Census", "race", "SVM", 226434, 78627, 0.05, 34.72])
reference_data.append(["ExpGA", "Credit", "gender", "SVM", 118428, 47570, 0.08, 40.17])
reference_data.append(["ExpGA", "Credit", "age", "SVM", 21058, 9377, 0.38, 44.53])
reference_data.append(["ExpGA", "Bank", "age", "SVM", 12746, 29574, 0.12, 69.19])

## AEQUITAS
reference_data.append(["Aequitas", "Census", "gender", "SVM", 109706, 386, 9.33, 0.35])
reference_data.append(["Aequitas", "Census", "age", "SVM", 81275, 2489, 1.45, 3.06])
reference_data.append(["Aequitas", "Census", "race", "SVM", 62954, 277, 13.0, 0.44])
reference_data.append(["Aequitas", "Credit", "gender", "SVM", 152432, 3683, 0.98, 2.42])
reference_data.append(["Aequitas", "Credit", "age", "SVM", 53344, 8419, 0.43, 15.78])
reference_data.append(["Aequitas", "Bank", "age", "SVM", 31276, 41, 87.80, 0.13])

## SG
reference_data.append(["SG", "Census", "gender", "SVM", 1119, 0, np.nan, 0])
reference_data.append(["SG", "Census", "age", "SVM", 2998, 624, 5.77, 20.81])
reference_data.append(["SG", "Census", "race", "SVM", 1141, 0, np.nan, 0])
reference_data.append(["SG", "Credit", "gender", "SVM", 9204, 1912, 1.88, 20.77])
reference_data.append(["SG", "Credit", "age", "SVM", 7952, 1918, 1.88, 24.12])
reference_data.append(["SG", "Bank", "age", "SVM", 744, 248, 14.52, 33.33])

# Create DataFrame
columns = ["algorithm", "dataset", "feature", "model", "TSN", "DSN", "DSS", "SUR"]
reference_data = pd.DataFrame(reference_data, columns=columns)

# Convert numeric columns to appropriate types
numeric_cols = ["TSN", "DSN", "DSS", "SUR"]
for col in numeric_cols:
    reference_data[col] = pd.to_numeric(reference_data[col])

reference_data['SUR'] = reference_data['SUR'] / 100
reference_data

   algorithm dataset feature model     TSN     DSN    DSS     SUR
0      ExpGA  Census  gender   MLP  491323  141049   0.03  0.2870
1      ExpGA  Census     age   MLP   43465   29467   0.12  0.6779
2      ExpGA  Census    race   MLP   90303   30171   0.12  0.3341
3      ExpGA  Credit  gender   MLP  281130   65009   0.06  0.2312
4      ExpGA  Credit     age   MLP   46357   34048   0.11  0.7344
5      ExpGA    Bank     age   MLP   46802   27099   0.13  0.5790
6   Aequitas  Census  gender   MLP   85629    1797   2.00  0.0210
7   Aequitas  Census     age   MLP   12243    1107   3.25  0.0904
8   Aequitas  Census    race   MLP   22053     551   6.53  0.0250
9   Aequitas  Credit  gender   MLP   38096    1596   2.26  0.0419
10  Aequitas  Credit     age   MLP   11756    5146   0.70  0.4377
11  Aequitas    Bank     age   MLP   14808    2915   1.23  0.1968
12        SG  Census  gender   MLP    7070     871   4.13  0.1231
13        SG  Census     age   MLP    4190    1530   2.35  0.3651
14        SG  Census    race   MLP    4355     588   6.12  0.1350
15        SG  Credit  gender   MLP    7569    1321   2.73  0.1745
16        SG  Credit     age   MLP    7699    4659   0.77  0.6050
17        SG    Bank     age   MLP    3776    2592   1.39  0.6863
18       ADF  Census  gender   MLP  116119   24974   0.14  0.2151
19       ADF  Census     age   MLP   40135   21795   0.17  0.5430
20       ADF  Census    race   MLP   47296    8097   0.44  0.1712
21       ADF  Credit  gender   MLP   62242    8052   0.45  0.1293
22       ADF  Credit     age   MLP   21649    5957   0.60  0.2751
23       ADF    Bank     age   MLP   27325   11852   0.30  0.4337
24     ExpGA  Census  gender    RF  274521  156259   0.02  0.5692
25     ExpGA  Census     age    RF   51192   46035   0.08  0.8993
26     ExpGA  Census    race    RF   78349   47810   0.08  0.6102
27     ExpGA  Credit  gender    RF   20295    4247   0.85  0.2093
28     ExpGA  Credit     age    RF   10183    3673   0.98  0.3607
29     ExpGA    Bank     age    RF   13284    8885   0.41  0.6699
30  Aequitas  Census  gender    RF   56776    1210   2.98  0.0213
31  Aequitas  Census     age    RF   21330   13472   0.27  0.6316
32  Aequitas  Census    race    RF   29309     362   9.94  0.0124
33  Aequitas  Credit  gender    RF    3245     148  24.32  0.0456
34  Aequitas  Credit     age    RF     869     153  23.53  0.1760
35  Aequitas    Bank     age    RF    3952     941   3.83  0.2381
36        SG  Census  gender    RF   10906     595   6.05  0.0546
37        SG  Census     age    RF   17490   12441   0.29  0.7150
38        SG  Census    race    RF   12572     894   4.03  0.0711
39        SG  Credit  gender    RF    7269    2192   1.64  0.3015
40        SG  Credit     age    RF    6349    2654   1.36  0.4180
41        SG    Bank     age    RF    3871    2530   1.42  0.6536
42     ExpGA  Census  gender   SVM  804328  145226   0.02  0.1806
43     ExpGA  Census     age   SVM  124816   78064   0.05  0.6254
44     ExpGA  Census    race   SVM  226434   78627   0.05  0.3472
45     ExpGA  Credit  gender   SVM  118428   47570   0.08  0.4017
46     ExpGA  Credit     age   SVM   21058    9377   0.38  0.4453
47     ExpGA    Bank     age   SVM   12746   29574   0.12  0.6919
48  Aequitas  Census  gender   SVM  109706     386   9.33  0.0035
49  Aequitas  Census     age   SVM   81275    2489   1.45  0.0306
50  Aequitas  Census    race   SVM   62954     277  13.00  0.0044
51  Aequitas  Credit  gender   SVM  152432    3683   0.98  0.0242
52  Aequitas  Credit     age   SVM   53344    8419   0.43  0.1578
53  Aequitas    Bank     age   SVM   31276      41  87.80  0.0013
54        SG  Census  gender   SVM    1119       0    NaN  0.0000
55        SG  Census     age   SVM    2998     624   5.77  0.2081
56        SG  Census    race   SVM    1141       0    NaN  0.0000
57        SG  Credit  gender   SVM    9204    1912   1.88  0.2077
58        SG  Credit     age   SVM    7952    1918   1.88  0.2412
59        SG    Bank     age   SVM     744     248  14.52  0.3333

In [3]:
from path import HERE
from pathlib import Path
import sqlite3
import pandas as pd

DB_PATH = Path(HERE.joinpath("experiments/baseline_exp/exp.db"))

conn = sqlite3.connect(DB_PATH)
sql = f"""
SELECT * 
FROM main.paper_reproduction_results
"""
experiments = pd.read_sql(sql, conn)

experiments

,id,timestamp,model,dataset,feature,algorithm,TSN,DSN,DSS,SUR,execution_time
0,568,2025-03-18 09:47:23,RF,bank,Attr2_T,ExpGA,32100,10087,101.286379,0.314237,233.975144
1,569,2025-03-18 09:47:23,RF,bank,Attr3_T,ExpGA,23171,8100,101.286379,0.349575,233.975144
2,570,2025-03-18 09:47:23,RF,bank,Attr2_T,SG,6000,3150,0.280000,0.525000,1952.344265
3,571,2025-03-18 09:47:23,RF,bank,Attr3_T,SG,6000,3845,0.280000,0.640833,1952.344265
4,572,2025-03-18 09:47:23,RF,bank,Attr2_T,Aequitas,681252,2067,0.275232,0.003034,733.817986
5,573,2025-03-18 09:47:23,RF,bank,Attr3_T,Aequitas,681252,2245,0.275232,0.003295,733.817986
6,650,2025-03-19 07:55:58,MLP,adult,Attr8_T,ExpGA,75516,23146,186.889076,0.306505,506.301954
7,651,2025-03-19 07:55:58,MLP,adult,Attr9_T,ExpGA,55814,13283,186.889076,0.237987,506.301954
8,652,2025-03-19 07:55:58,MLP,adult,Attr8_T,SG,14000,6410,0.370000,0.457857,2687.605702
9,653,2025-03-19 07:55:58,MLP,adult,Attr9_T,SG,14000,920,0.370000,0.065714,2687.605702
10,654,2025-03-19 07:55:58,MLP,adult,Attr8_T,Aequitas,1277568,7727,0.088741,0.006048,772.745496
11,655,2025-03-19 07:55:58,MLP,adult,Attr9_T,Aequitas,1277568,5302,0.088741,0.004150,772.745496
12,656,2025-03-19 07:55:58,MLP,adult,Attr8_T,ADF,78930,35382,0.007173,0.448271,258.475562
13,657,2025-03-19 07:55:58,MLP,adult,Attr9_T,ADF,78930,23417,0.007173,0.296681,258.475562
14,666,2025-03-19 09:00:07,MLP,credit,Attr8_T,ExpGA,74400,22814,161.984933,0.306640,621.396993
15,667,2025-03-19 09:00:07,MLP,credit,Attr12_T,ExpGA,53806,22289,161.984933,0.414247,621.396993
16,668,2025-03-19 09:00:07,MLP,credit,Attr8_T,SG,2592,779,0.130000,0.300540,298.196559
17,669,2025-03-19 09:00:07,MLP,credit,Attr12_T,SG,2592,1421,0.130000,0.548225,298.196559
18,670,2025-03-19 09:00:07,MLP,credit,Attr8_T,Aequitas,1611570,1181,0.612440,0.000733,814.754688
19,671,2025-03-19 09:00:07,MLP,credit,Attr12_T,Aequitas,1611570,1067,0.612440,0.000662,814.754688
20,672,2025-03-19 09:00:07,MLP,credit,Attr8_T,ADF,83310,32780,0.005405,0.393470,201.720355
21,673,2025-03-19 09:00:07,MLP,credit,Attr12_T,ADF,83310,32653,0.005405,0.391946,201.720355
22,674,2025-03-19 10:14:09,MLP,bank,Attr2_T,ExpGA,75852,7601,243.536856,0.100208,687.710320
23,675,2025-03-19 10:14:09,MLP,bank,Attr3_T,ExpGA,69167,39100,243.536856,0.565298,687.710320
24,676,2025-03-19 10:14:09,MLP,bank,Attr2_T,SG,14000,3098,0.140000,0.221286,2555.227177
25,677,2025-03-19 10:14:09,MLP,bank,Attr3_T,SG,14000,15425,0.140000,1.101786,2555.227177
26,678,2025-03-19 10:14:09,MLP,bank,Attr2_T,Aequitas,1477003,10548,0.056420,0.007141,901.153937
27,679,2025-03-19 10:14:09,MLP,bank,Attr3_T,Aequitas,1477003,14482,0.056420,0.009805,901.153937
28,680,2025-03-19 10:14:09,MLP,bank,Attr2_T,ADF,80146,27502,0.009213,0.343149,298.486923
29,681,2025-03-19 10:14:09,MLP,bank,Attr3_T,ADF,80146,29151,0.009213,0.363724,298.486923
30,694,2025-03-19 15:21:55,RF,adult,Attr8_T,ExpGA,75400,18021,252.488211,0.239005,796.872672
31,695,2025-03-19 15:21:55,RF,adult,Attr9_T,ExpGA,59461,27936,252.488211,0.469821,796.872672
32,696,2025-03-19 15:21:55,RF,adult,Attr8_T,SG,14000,5396,0.610000,0.385429,4286.947765
33,697,2025-03-19 15:21:55,RF,adult,Attr9_T,SG,14000,1593,0.610000,0.113786,4286.947765
34,698,2025-03-19 15:21:55,RF,adult,Attr8_T,Aequitas,1235961,3850,0.380336,0.003115,1724.827674
35,699,2025-03-19 15:21:55,RF,adult,Attr9_T,Aequitas,1235961,3478,0.380336,0.002814,1724.827674
36,706,2025-03-19 17:26:51,RF,credit,Attr8_T,ExpGA,75700,4360,398.356388,0.057596,1204.697362
37,707,2025-03-19 17:26:51,RF,credit,Attr12_T,ExpGA,71978,36608,398.356388,0.508600,1204.697362
38,708,2025-03-19 17:26:51,RF,credit,Attr8_T,SG,1054,99,1.170000,0.093928,282.647728
39,709,2025-03-19 17:26:51,RF,credit,Attr12_T,SG,1054,142,1.170000,0.134725,282.647728
40,710,2025-03-19 17:26:51,RF,credit,Attr8_T,Aequitas,1598025,21,74.110030,0.000013,2594.035108
41,711,2025-03-19 17:26:51,RF,credit,Attr12_T,Aequitas,1598025,35,74.110030,0.000022,2594.035108

In [4]:
# Replace values where condition is met
experiments.loc[experiments['dataset'] == 'adult', 'dataset'] = 'Census'
experiments.loc[experiments['dataset'] == 'credit', 'dataset'] = 'Credit'
experiments.loc[experiments['dataset'] == 'bank', 'dataset'] = 'Bank'

experiments.loc[experiments['algorithm'] == 'EXPGA', 'algorithm'] = 'ExpGA'
experiments.loc[experiments['algorithm'] == 'EXPGA', 'algorithm'] = 'ExpGA'

experiments.loc[(experiments['feature'] == 'Attr8_T') & (experiments['dataset'] == 'Census'), 'feature'] = 'gender'
experiments.loc[(experiments['feature'] == 'Attr9_T') & (experiments['dataset'] == 'Census'), 'feature'] = 'race'

experiments.loc[(experiments['feature'] == 'Attr8_T') & (experiments['dataset'] == 'Credit'), 'feature'] = 'gender'
experiments.loc[(experiments['feature'] == 'Attr12_T') & (experiments['dataset'] == 'Credit'), 'feature'] = 'age'

experiments.loc[(experiments['feature'] == 'Attr2_T') & (experiments['dataset'] == 'Bank'), 'feature'] = 'marital'
experiments.loc[(experiments['feature'] == 'Attr3_T') & (experiments['dataset'] == 'Bank'), 'feature'] = 'education'

In [5]:
experiments

,id,timestamp,model,dataset,feature,algorithm,TSN,DSN,DSS,SUR,execution_time
0,568,2025-03-18 09:47:23,RF,Bank,marital,ExpGA,32100,10087,101.286379,0.314237,233.975144
1,569,2025-03-18 09:47:23,RF,Bank,education,ExpGA,23171,8100,101.286379,0.349575,233.975144
2,570,2025-03-18 09:47:23,RF,Bank,marital,SG,6000,3150,0.280000,0.525000,1952.344265
3,571,2025-03-18 09:47:23,RF,Bank,education,SG,6000,3845,0.280000,0.640833,1952.344265
4,572,2025-03-18 09:47:23,RF,Bank,marital,Aequitas,681252,2067,0.275232,0.003034,733.817986
5,573,2025-03-18 09:47:23,RF,Bank,education,Aequitas,681252,2245,0.275232,0.003295,733.817986
6,650,2025-03-19 07:55:58,MLP,Census,gender,ExpGA,75516,23146,186.889076,0.306505,506.301954
7,651,2025-03-19 07:55:58,MLP,Census,race,ExpGA,55814,13283,186.889076,0.237987,506.301954
8,652,2025-03-19 07:55:58,MLP,Census,gender,SG,14000,6410,0.370000,0.457857,2687.605702
9,653,2025-03-19 07:55:58,MLP,Census,race,SG,14000,920,0.370000,0.065714,2687.605702
10,654,2025-03-19 07:55:58,MLP,Census,gender,Aequitas,1277568,7727,0.088741,0.006048,772.745496
11,655,2025-03-19 07:55:58,MLP,Census,race,Aequitas,1277568,5302,0.088741,0.004150,772.745496
12,656,2025-03-19 07:55:58,MLP,Census,gender,ADF,78930,35382,0.007173,0.448271,258.475562
13,657,2025-03-19 07:55:58,MLP,Census,race,ADF,78930,23417,0.007173,0.296681,258.475562
14,666,2025-03-19 09:00:07,MLP,Credit,gender,ExpGA,74400,22814,161.984933,0.306640,621.396993
15,667,2025-03-19 09:00:07,MLP,Credit,age,ExpGA,53806,22289,161.984933,0.414247,621.396993
16,668,2025-03-19 09:00:07,MLP,Credit,gender,SG,2592,779,0.130000,0.300540,298.196559
17,669,2025-03-19 09:00:07,MLP,Credit,age,SG,2592,1421,0.130000,0.548225,298.196559
18,670,2025-03-19 09:00:07,MLP,Credit,gender,Aequitas,1611570,1181,0.612440,0.000733,814.754688
19,671,2025-03-19 09:00:07,MLP,Credit,age,Aequitas,1611570,1067,0.612440,0.000662,814.754688
20,672,2025-03-19 09:00:07,MLP,Credit,gender,ADF,83310,32780,0.005405,0.393470,201.720355
21,673,2025-03-19 09:00:07,MLP,Credit,age,ADF,83310,32653,0.005405,0.391946,201.720355
22,674,2025-03-19 10:14:09,MLP,Bank,marital,ExpGA,75852,7601,243.536856,0.100208,687.710320
23,675,2025-03-19 10:14:09,MLP,Bank,education,ExpGA,69167,39100,243.536856,0.565298,687.710320
24,676,2025-03-19 10:14:09,MLP,Bank,marital,SG,14000,3098,0.140000,0.221286,2555.227177
25,677,2025-03-19 10:14:09,MLP,Bank,education,SG,14000,15425,0.140000,1.101786,2555.227177
26,678,2025-03-19 10:14:09,MLP,Bank,marital,Aequitas,1477003,10548,0.056420,0.007141,901.153937
27,679,2025-03-19 10:14:09,MLP,Bank,education,Aequitas,1477003,14482,0.056420,0.009805,901.153937
28,680,2025-03-19 10:14:09,MLP,Bank,marital,ADF,80146,27502,0.009213,0.343149,298.486923
29,681,2025-03-19 10:14:09,MLP,Bank,education,ADF,80146,29151,0.009213,0.363724,298.486923
30,694,2025-03-19 15:21:55,RF,Census,gender,ExpGA,75400,18021,252.488211,0.239005,796.872672
31,695,2025-03-19 15:21:55,RF,Census,race,ExpGA,59461,27936,252.488211,0.469821,796.872672
32,696,2025-03-19 15:21:55,RF,Census,gender,SG,14000,5396,0.610000,0.385429,4286.947765
33,697,2025-03-19 15:21:55,RF,Census,race,SG,14000,1593,0.610000,0.113786,4286.947765
34,698,2025-03-19 15:21:55,RF,Census,gender,Aequitas,1235961,3850,0.380336,0.003115,1724.827674
35,699,2025-03-19 15:21:55,RF,Census,race,Aequitas,1235961,3478,0.380336,0.002814,1724.827674
36,706,2025-03-19 17:26:51,RF,Credit,gender,ExpGA,75700,4360,398.356388,0.057596,1204.697362
37,707,2025-03-19 17:26:51,RF,Credit,age,ExpGA,71978,36608,398.356388,0.508600,1204.697362
38,708,2025-03-19 17:26:51,RF,Credit,gender,SG,1054,99,1.170000,0.093928,282.647728
39,709,2025-03-19 17:26:51,RF,Credit,age,SG,1054,142,1.170000,0.134725,282.647728
40,710,2025-03-19 17:26:51,RF,Credit,gender,Aequitas,1598025,21,74.110030,0.000013,2594.035108
41,711,2025-03-19 17:26:51,RF,Credit,age,Aequitas,1598025,35,74.110030,0.000022,2594.035108

In [6]:
results = []
for i, el in reference_data.iterrows():
    key = ((experiments['feature'] == el['feature']) &
           (experiments['dataset'] == el['dataset']) &
           (experiments['model'] == el['model']) &
           (experiments['algorithm'] == el['algorithm']))
    res = pd.DataFrame(
        {'feature': [el['feature']], 'dataset': [el['dataset']], 'model': [el['model']],
         'algorithm': [el['algorithm']]})
    if key.any():
        experiments_df = experiments[key][['TSN', 'DSN', 'DSS', 'SUR']].mean()
        res['ref_TSN'] = el['TSN']
        res['TSN'] = experiments_df['TSN']
        res['ref_DSN'] = el['DSN']
        res['DSN'] = experiments_df['DSN']
        res['ref_DSS'] = el['DSS']
        res['DSS'] = experiments_df['DSS']
        res['ref_SUR'] = el['SUR']
        res['SUR'] = experiments_df['SUR']
    else:
        res['ref_TSN'] = None
        res['TSN'] = None
        res['ref_DSN'] = None
        res['DSN'] = None
        res['ref_DSS'] = None
        res['DSS'] = None
        res['ref_SUR'] = None
        res['SUR'] = None
    results.append(res)
    
results = pd.concat(results)
results

C:\Users\gen06917\AppData\Local\Temp\ipykernel_24892\3575888769.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat(results)

,feature,dataset,model,algorithm,ref_TSN,TSN,ref_DSN,DSN,ref_DSS,DSS,ref_SUR,SUR
0,gender,Census,MLP,ExpGA,491323,75516.0,141049,23146.0,0.03,186.889076,0.2870,0.306505
0,age,Census,MLP,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,MLP,ExpGA,90303,55814.0,30171,13283.0,0.12,186.889076,0.3341,0.237987
0,gender,Credit,MLP,ExpGA,281130,74400.0,65009,22814.0,0.06,161.984933,0.2312,0.306640
0,age,Credit,MLP,ExpGA,46357,53806.0,34048,22289.0,0.11,161.984933,0.7344,0.414247
0,age,Bank,MLP,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,MLP,Aequitas,85629,1277568.0,1797,7727.0,2.00,0.088741,0.0210,0.006048
0,age,Census,MLP,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,MLP,Aequitas,22053,1277568.0,551,5302.0,6.53,0.088741,0.0250,0.004150
0,gender,Credit,MLP,Aequitas,38096,1611570.0,1596,1181.0,2.26,0.612440,0.0419,0.000733
0,age,Credit,MLP,Aequitas,11756,1611570.0,5146,1067.0,0.70,0.612440,0.4377,0.000662
0,age,Bank,MLP,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,MLP,SG,7070,14000.0,871,6410.0,4.13,0.370000,0.1231,0.457857
0,age,Census,MLP,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,MLP,SG,4355,14000.0,588,920.0,6.12,0.370000,0.1350,0.065714
0,gender,Credit,MLP,SG,7569,2592.0,1321,779.0,2.73,0.130000,0.1745,0.300540
0,age,Credit,MLP,SG,7699,2592.0,4659,1421.0,0.77,0.130000,0.6050,0.548225
0,age,Bank,MLP,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,MLP,ADF,116119,78930.0,24974,35382.0,0.14,0.007173,0.2151,0.448271
0,age,Census,MLP,ADF,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,MLP,ADF,47296,78930.0,8097,23417.0,0.44,0.007173,0.1712,0.296681
0,gender,Credit,MLP,ADF,62242,83310.0,8052,32780.0,0.45,0.005405,0.1293,0.393470
0,age,Credit,MLP,ADF,21649,83310.0,5957,32653.0,0.60,0.005405,0.2751,0.391946
0,age,Bank,MLP,ADF,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,RF,ExpGA,274521,75400.0,156259,18021.0,0.02,252.488211,0.5692,0.239005
0,age,Census,RF,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,RF,ExpGA,78349,59461.0,47810,27936.0,0.08,252.488211,0.6102,0.469821
0,gender,Credit,RF,ExpGA,20295,75700.0,4247,4360.0,0.85,398.356388,0.2093,0.057596
0,age,Credit,RF,ExpGA,10183,71978.0,3673,36608.0,0.98,398.356388,0.3607,0.508600
0,age,Bank,RF,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,RF,Aequitas,56776,1235961.0,1210,3850.0,2.98,0.380336,0.0213,0.003115
0,age,Census,RF,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,RF,Aequitas,29309,1235961.0,362,3478.0,9.94,0.380336,0.0124,0.002814
0,gender,Credit,RF,Aequitas,3245,1598025.0,148,21.0,24.32,74.110030,0.0456,0.000013
0,age,Credit,RF,Aequitas,869,1598025.0,153,35.0,23.53,74.110030,0.1760,0.000022
0,age,Bank,RF,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,RF,SG,10906,14000.0,595,5396.0,6.05,0.610000,0.0546,0.385429
0,age,Census,RF,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,RF,SG,12572,14000.0,894,1593.0,4.03,0.610000,0.0711,0.113786
0,gender,Credit,RF,SG,7269,1054.0,2192,99.0,1.64,1.170000,0.3015,0.093928
0,age,Credit,RF,SG,6349,1054.0,2654,142.0,1.36,1.170000,0.4180,0.134725
0,age,Bank,RF,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Census,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Credit,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Credit,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Bank,SVM,ExpGA,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Census,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Credit,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Credit,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Bank,SVM,Aequitas,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Census,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Census,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,race,Census,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,gender,Credit,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Credit,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN
0,age,Bank,SVM,SG,None,NaN,None,NaN,NaN,NaN,NaN,NaN