In [1]:
import pandas as pd
import sqlite3
from path import HERE
conn = sqlite3.connect(HERE.joinpath('experiments/baseline_exp/exp.db'))
quer = """
SELECT
    method, AVG(coverage_ratio) avg_coverage_ratio
FROM experiment_results
GROUP BY method
"""
df = pd.read_sql_query(quer, conn)
df

     method  avg_coverage_ratio
0       adf            0.986320
1  aequitas            0.990619
2     expga            0.884019
3        sg            0.657650